<html>
    <head>
        <title>{{ title }} Movie Sentiment Analysis</title>
        #<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Welcome To Sentiment Analyzer</h1>
        <form method="POST">
            <textarea name="Review" placeholder="Enter yur Review Here: ...."></textarea><br><br>

            <input class="example_a" type="submit">
        </form>
        {% if final %}
        <div>
            <h2>The Sentiment of</h2> '{{ Review }}' <h2>is {{ good }}% positive !</h2>
            {% else %}
            <h2>The Sentiment of</h2> '{{ Review }}' <h2>is {{ bad }}% negative ! </h2>
            {% endif %}
        </div>
        <span>by PHANICE</span>
    </body>
</html>
